html {
  background-color: black;

  p {
    text-align: left;
  }
}

body {
  background: url(/assets/img/promo-spiral.png) 0 -1.875rem no-repeat fixed, url(./assets/img/promo-planet.jpg) 0 -1.875rem no-repeat fixed, url(./assets/img/whatis-satelit.png) right 11.5625rem top 18.125rem no-repeat fixed, url(./assets/img/team-cloud.jpg) 100% 100% no-repeat fixed, url(./assets/img/prefooter-explode.jpg) 100% -1.875rem no-repeat fixed #03081c;
  background-blend-mode: normal, lighten, normal, lighten;
}

.ui.menu.fixed {
  position: relative !important;
}

.body {
  
  margin-top: 3em;
  text-align: left;
  height: auto;
  min-height: 40vh;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1b1c1d;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //font-size: calc(10px + 2vmin);
  color: white;
}

.menu {
  .item {
    a {
      color: black !important;

      &.inverted {
        color: white !important;
      }
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}